In [2]:
import pandas as pd

file_path = r"E:\Projects\Marketing Analytics\data\raw\marketing_campaign.csv"

df = pd.read_csv(file_path)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 17 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Date                                             365 non-null    object
 1   Facebook Ad Campaign                             365 non-null    object
 2   Facebook Ad Views                                365 non-null    int64
 3   Facebook Ad Clicks                               365 non-null    int64
 4   Facebook Ad Conversions                          365 non-null    int64
 5   Cost per Facebook Ad                             365 non-null    object
 6   Facebook Click-Through Rate (Clicks / View)      365 non-null    object
 7   Facebook Conversion Rate (Conversions / Clicks)  365 non-null    object
 8   Facebook Cost per Click (Ad Cost / Clicks)       365 non-null    object
 9   AdWords Ad Campaign                              365 non-null    object
 10  AdWords Ad Views                                 365 non-null    int64
 11  AdWords Ad Clicks                                365 non-null    int64
 12  AdWords Ad Conversions                           365 non-null    int64
 13  Cost per AdWords Ad                              365 non-null    object
 14  AdWords Click-Through Rate (Clicks / View)       365 non-null    object
 15  AdWords Conversion Rate (Conversions / Click)    365 non-null    object
 16  AdWords Cost per Click (Ad Cost / Clicks)        365 non-null    object
dtypes: int64(6), object(11)
memory usage: 48.6+ KB

In [ ]:
# Lowering all the column names

df.columns = df.columns.str.lower()

df.head()

,date,facebook ad campaign,facebook ad views,facebook ad clicks,facebook ad conversions,cost per facebook ad,facebook click-through rate (clicks / view),facebook conversion rate (conversions / clicks),facebook cost per click (ad cost / clicks),adwords ad campaign,adwords ad views,adwords ad clicks,adwords ad conversions,cost per adwords ad,adwords click-through rate (clicks / view),adwords conversion rate (conversions / click),adwords cost per click (ad cost / clicks)
0,1/1/2019,FB_Jan19,2116,18,8,$126,0.83%,42.73%,$7.14,AW_Jan19,4984,59,5,$194,1.18%,8.40%,$3.30
1,1/2/2019,FB_Jan19,3106,36,12,$104,1.15%,34.04%,$2.91,AW_Jan19,4022,71,6,$75,1.77%,7.80%,$1.05
2,1/3/2019,FB_Jan19,3105,26,8,$102,0.84%,31.45%,$3.89,AW_Jan19,3863,44,4,$141,1.13%,9.59%,$3.23
3,1/4/2019,FB_Jan19,1107,27,9,$71,2.45%,34.76%,$2.62,AW_Jan19,3911,49,5,$141,1.26%,11.08%,$2.86
4,1/5/2019,FB_Jan19,1317,15,7,$78,1.10%,47.59%,$5.38,AW_Jan19,4070,55,7,$133,1.36%,12.22%,$2.40

In [7]:
df.columns = (
    df.columns
      .str.lower()
      .str.replace(r'[^a-z0-9]+', '_', regex=True)
      .str.strip('_')
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 17 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   date                                         365 non-null    object
 1   facebook_ad_campaign                         365 non-null    object
 2   facebook_ad_views                            365 non-null    int64
 3   facebook_ad_clicks                           365 non-null    int64
 4   facebook_ad_conversions                      365 non-null    int64
 5   cost_per_facebook_ad                         365 non-null    object
 6   facebook_click_through_rate_clicks_view      365 non-null    object
 7   facebook_conversion_rate_conversions_clicks  365 non-null    object
 8   facebook_cost_per_click_ad_cost_clicks       365 non-null    object
 9   adwords_ad_campaign                          365 non-null    object
 10  adwords_ad_views                             365 non-null    int64
 11  adwords_ad_clicks                            365 non-null    int64
 12  adwords_ad_conversions                       365 non-null    int64
 13  cost_per_adwords_ad                          365 non-null    object
 14  adwords_click_through_rate_clicks_view       365 non-null    object
 15  adwords_conversion_rate_conversions_click    365 non-null    object
 16  adwords_cost_per_click_ad_cost_clicks        365 non-null    object
dtypes: int64(6), object(11)
memory usage: 48.6+ KB

In [ ]:
# Converting date to datetime

df['date'] = df['date'] = pd.to_datetime(df['date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 17 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   date                                             365 non-null    datetime64[ns]
 1   facebook ad campaign                             365 non-null    object
 2   facebook ad views                                365 non-null    int64
 3   facebook ad clicks                               365 non-null    int64
 4   facebook ad conversions                          365 non-null    int64
 5   cost per facebook ad                             365 non-null    object
 6   facebook click-through rate (clicks / view)      365 non-null    object
 7   facebook conversion rate (conversions / clicks)  365 non-null    object
 8   facebook cost per click (ad cost / clicks)       365 non-null    object
 9   adwords ad campaign                              365 non-null    object
 10  adwords ad views                                 365 non-null    int64
 11  adwords ad clicks                                365 non-null    int64
 12  adwords ad conversions                           365 non-null    int64
 13  cost per adwords ad                              365 non-null    object
 14  adwords click-through rate (clicks / view)       365 non-null    object
 15  adwords conversion rate (conversions / click)    365 non-null    object
 16  adwords cost per click (ad cost / clicks)        365 non-null    object
dtypes: datetime64[ns](1), int64(6), object(10)
memory usage: 48.6+ KB

In [ ]:
# Removing $ from columns 

cost_cols = [
    'cost_per_facebook_ad',
    'cost_per_adwords_ad',
    'facebook_cost_per_click_ad_cost_clicks',
    'adwords_cost_per_click_ad_cost_clicks'
]

for col in cost_cols:
    df[col] = (
        df[col]
        .str.replace('$', '', regex=False)
        .astype(float)
    )

In [23]:
df.head()

,date,facebook_ad_campaign,facebook_ad_views,facebook_ad_clicks,facebook_ad_conversions,cost_per_facebook_ad,facebook_click_through_rate_clicks_view,facebook_conversion_rate_conversions_clicks,facebook_cost_per_click_ad_cost_clicks,adwords_ad_campaign,adwords_ad_views,adwords_ad_clicks,adwords_ad_conversions,cost_per_adwords_ad,adwords_click_through_rate_clicks_view,adwords_conversion_rate_conversions_click,adwords_cost_per_click_ad_cost_clicks
0,2019-01-01,FB_Jan19,2116,18,8,126.0,0.83%,42.73%,7.14,AW_Jan19,4984,59,5,194.0,1.18%,8.40%,3.30
1,2019-01-02,FB_Jan19,3106,36,12,104.0,1.15%,34.04%,2.91,AW_Jan19,4022,71,6,75.0,1.77%,7.80%,1.05
2,2019-01-03,FB_Jan19,3105,26,8,102.0,0.84%,31.45%,3.89,AW_Jan19,3863,44,4,141.0,1.13%,9.59%,3.23
3,2019-01-04,FB_Jan19,1107,27,9,71.0,2.45%,34.76%,2.62,AW_Jan19,3911,49,5,141.0,1.26%,11.08%,2.86
4,2019-01-05,FB_Jan19,1317,15,7,78.0,1.10%,47.59%,5.38,AW_Jan19,4070,55,7,133.0,1.36%,12.22%,2.40

In [ ]:
# Removing % sign from columns

pct_cols = [
    'facebook_click_through_rate_clicks_view',
    'facebook_conversion_rate_conversions_clicks',
    'adwords_click_through_rate_clicks_view',
    'adwords_conversion_rate_conversions_click'
]

for col in pct_cols:
    df[col] = (
        df[col]
        .str.replace('%', '', regex=False)
        .astype(float)
        / 100
    )

In [25]:
df.head()

,date,facebook_ad_campaign,facebook_ad_views,facebook_ad_clicks,facebook_ad_conversions,cost_per_facebook_ad,facebook_click_through_rate_clicks_view,facebook_conversion_rate_conversions_clicks,facebook_cost_per_click_ad_cost_clicks,adwords_ad_campaign,adwords_ad_views,adwords_ad_clicks,adwords_ad_conversions,cost_per_adwords_ad,adwords_click_through_rate_clicks_view,adwords_conversion_rate_conversions_click,adwords_cost_per_click_ad_cost_clicks
0,2019-01-01,FB_Jan19,2116,18,8,126.0,0.0083,0.4273,7.14,AW_Jan19,4984,59,5,194.0,0.0118,0.0840,3.30
1,2019-01-02,FB_Jan19,3106,36,12,104.0,0.0115,0.3404,2.91,AW_Jan19,4022,71,6,75.0,0.0177,0.0780,1.05
2,2019-01-03,FB_Jan19,3105,26,8,102.0,0.0084,0.3145,3.89,AW_Jan19,3863,44,4,141.0,0.0113,0.0959,3.23
3,2019-01-04,FB_Jan19,1107,27,9,71.0,0.0245,0.3476,2.62,AW_Jan19,3911,49,5,141.0,0.0126,0.1108,2.86
4,2019-01-05,FB_Jan19,1317,15,7,78.0,0.0110,0.4759,5.38,AW_Jan19,4070,55,7,133.0,0.0136,0.1222,2.40

In [ ]:
# checking missing values , unique values and duplicates 

eda_check = pd.DataFrame({
    'missing_%': df.isna().mean() * 100,
    'unique_values': df.nunique()
})

eda_check.loc['__overall__', 'duplicate_rows'] = df.duplicated().sum()

eda_check

,missing_%,unique_values,duplicate_rows
date,0.0,365.0,NaN
facebook_ad_campaign,0.0,12.0,NaN
facebook_ad_views,0.0,330.0,NaN
facebook_ad_clicks,0.0,56.0,NaN
facebook_ad_conversions,0.0,15.0,NaN
cost_per_facebook_ad,0.0,104.0,NaN
facebook_click_through_rate_clicks_view,0.0,213.0,NaN
facebook_conversion_rate_conversions_clicks,0.0,308.0,NaN
facebook_cost_per_click_ad_cost_clicks,0.0,228.0,NaN
adwords_ad_campaign,0.0,12.0,NaN
adwords_ad_views,0.0,335.0,NaN
adwords_ad_clicks,0.0,58.0,NaN
adwords_ad_conversions,0.0,7.0,NaN
cost_per_adwords_ad,0.0,118.0,NaN
adwords_click_through_rate_clicks_view,0.0,133.0,NaN
adwords_conversion_rate_conversions_click,0.0,291.0,NaN
adwords_cost_per_click_ad_cost_clicks,0.0,219.0,NaN
__overall__,NaN,NaN,0.0

In [9]:
df.to_csv("marketing_cleaned.csv", index=False)

In [10]:
df

,date,facebook_ad_campaign,facebook_ad_views,facebook_ad_clicks,facebook_ad_conversions,cost_per_facebook_ad,facebook_click_through_rate_clicks_view,facebook_conversion_rate_conversions_clicks,facebook_cost_per_click_ad_cost_clicks,adwords_ad_campaign,adwords_ad_views,adwords_ad_clicks,adwords_ad_conversions,cost_per_adwords_ad,adwords_click_through_rate_clicks_view,adwords_conversion_rate_conversions_click,adwords_cost_per_click_ad_cost_clicks
0,1/1/2019,FB_Jan19,2116,18,8,$126,0.83%,42.73%,$7.14,AW_Jan19,4984,59,5,$194,1.18%,8.40%,$3.30
1,1/2/2019,FB_Jan19,3106,36,12,$104,1.15%,34.04%,$2.91,AW_Jan19,4022,71,6,$75,1.77%,7.80%,$1.05
2,1/3/2019,FB_Jan19,3105,26,8,$102,0.84%,31.45%,$3.89,AW_Jan19,3863,44,4,$141,1.13%,9.59%,$3.23
3,1/4/2019,FB_Jan19,1107,27,9,$71,2.45%,34.76%,$2.62,AW_Jan19,3911,49,5,$141,1.26%,11.08%,$2.86
4,1/5/2019,FB_Jan19,1317,15,7,$78,1.10%,47.59%,$5.38,AW_Jan19,4070,55,7,$133,1.36%,12.22%,$2.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,12/27/2019,FB_Dec19,3240,51,13,$63,1.57%,25.89%,$1.24,AW_Dec19,5332,72,9,$76,1.35%,11.92%,$1.06
361,12/28/2019,FB_Dec19,1510,69,18,$97,4.55%,25.82%,$1.42,AW_Dec19,3887,49,6,$121,1.27%,13.10%,$2.46
362,12/29/2019,FB_Dec19,2918,44,13,$49,1.50%,29.11%,$1.11,AW_Dec19,5327,62,6,$128,1.16%,9.85%,$2.08
363,12/30/2019,FB_Dec19,2212,37,8,$102,1.68%,22.70%,$2.75,AW_Dec19,4020,71,6,$119,1.76%,7.83%,$1.68
364,12/31/2019,FB_Dec19,1470,60,17,$99,4.06%,28.38%,$1.65,AW_Dec19,4592,47,6,$86,1.01%,13.60%,$1.85